.form {
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}


.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    font-size: 25px;
}

.form__submit-block {
    align-self: center;
}
.form__submit {
    font-size: 18px;
    margin: 20px;
    width: 100px; 
    height: 50px;  
}

.form__row-input {
    color: #363636;
    box-sizing: border-box;
    padding: 2px 5px;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #363636;
    width: 50%;
}

.form__row-name_sex {
    flex-grow: 1;
}


@media only screen and (max-width: 585px) {   
    .form__row {
        flex-direction: column;
        align-items: center;
    }
}